config FUSE_FS
	tristate "FUSE (Filesystem in Userspace) support"
	help
	  With FUSE it is possible to implement a fully functional filesystem
	  in a userspace program.

	  There's also a companion library: libfuse2.  This library is available
	  from the FUSE homepage:
	  <http://fuse.sourceforge.net/>
	  although chances are your distribution already has that library
	  installed if you've installed the "fuse" package itself.

	  See <file:Documentation/filesystems/fuse.txt> for more information.
	  See <file:Documentation/Changes> for needed library/utility version.

	  If you want to develop a userspace FS, or if you want to use
	  a filesystem based on FUSE, answer Y or M.

config CUSE
	tristate "Character device in Userspace support"
	depends on FUSE_FS
	help
	  This FUSE extension allows character devices to be
	  implemented in userspace.

	  If you want to develop or use a userspace character device
	  based on CUSE, answer Y or M.

config FUSE_KIO_NOOP
	tristate "Enable kdirect noop io engine"
	depends on FUSE_FS
	default n
	help
	  This FUSE extension allows to handle io requests directly inside kernel

	  This is for kdirect io feature debugging only, answer Y or M.

config FUSE_KIO_NULLIO
	tristate "Enable kdirect null io io engine"
	depends on FUSE_FS
	default n
	help
	  This FUSE extension allows to handle io requests directly inside kernel

config FUSE_KIO_PCS
	tristate "Enable kdirect PCS io engine"
	depends on FUSE_FS
	help
	  This FUSE extension allows to forward io requests directly to PCS

config FUSE_KIO_DEBUG
	bool "Disable optimization for fuse kdirect PCS"
	depends on DEBUG_KERNEL && FUSE_FS
	help
	  Say Y if you want to disable optimization for fuse and fuse_kio_pcs modules.
