# SPDX-License-Identifier: GPL-2.0-only
#
# Red Hat specific options
#

menu "Red Hat options"

config RHEL_DIFFERENCES
	bool "Remove support for deprecated features"
	help
	  Red Hat may choose to deprecate certain features in its kernels.
	  Enable this option to remove support for hardware that is no
	  longer supported.

	  Unless you want a restricted kernel, say N here.

config RH_KABI_SIZE_ALIGN_CHECKS
	bool "Enables more stringent kabi checks in the macros"
	depends on RHEL_DIFFERENCES
	default y
	help
	  This option enables more stringent kabi checks. Those must
	  be disabled in case of a debug build, because debug builds
	  allow to change struct sizes.

endmenu
