config CRYPTO_DEV_CCP_DD
	tristate "Cryptographic Coprocessor device driver"
	depends on CRYPTO_DEV_CCP
	default m
	select HW_RANDOM
	select DMA_ENGINE
	select DMADEVICES
	select CRYPTO_SHA1
	select CRYPTO_SHA256
	help
	  Provides the interface to use the AMD Cryptographic Coprocessor
	  which can be used to offload encryption operations such as SHA,
	  AES and more. If you choose 'M' here, this module will be called
	  ccp.
