# kernel/Kconfig.openvz
#
# Copyright (c) 2005-2008 SWsoft
# Copyright (c) 2009-2015 Parallels IP Holdings GmbH
#

menu "OpenVZ"

config VE
	bool "Virtual Environment support"
	default y
	select NAMESPACES
	select PID_NS
	select IPC_NS
	select UTS_NS
	select NET_NS
	select USER_NS
	select CGROUPS
	select CGROUP_DEVICE
	select CGROUP_FREEZER
	select CGROUP_PERF
	select SCHEDSTATS
	help
	  This option adds support of virtual Linux running on the original box
	  with fully supported virtual network driver, tty subsystem and
	  configurable access for hardware and other resources.

config VE_CALLS
	tristate "VE calls interface"
	depends on VE
	select VZ_DEV
	default m
	help
	  This option controls how to build vzmon code containing VE calls.
	  By default it's build in module vzmon.o

config VZ_GENCALLS
	bool
	default y

config VE_NETDEV
	tristate "VE network device"
	depends on VE_CALLS && NET
	select VZ_DEV
	default m
	help
	  This option controls whether to build venet device. This is a
	  common interface for networking in VE.

config VZ_DEV
	tristate "VE device"
	default m
	help
	  This option adds support of vzdev device, which is used by
	  user-space applications to control Virtual Environments.

config VE_IPTABLES
	bool "VE netfiltering"
	depends on VE && VE_NETDEV && INET && NETFILTER
	default y
	help
	  This option controls whether to build VE netfiltering code.

config VZ_LIST
	tristate "VE listing/statistics user ioctl interface"
	depends on VE
	default m
	help
	  This options controls building of vzlist module.
	  This module provides ioctl interfaces for fetching VE ids, ip addresses
	  and pids of running processes.

config VE_NETDEV_ACCOUNTING
	tristate "VE networking accounting"
	depends on VE_NETDEV
	default m
	help
	  This option allows traffic accounting on Virtual Networking device and
	  on real devices moved to a Virtual Environment

config VZ_WDOG
	tristate "VE watchdog module"
	depends on VE_CALLS
	default m
	help
	  This option controls building of vzwdog module, which dumps
	  a lot of useful system info on console periodically.

config VZ_EVENT
 	tristate "Enable sending notifications of the VE status change through the netlink socket"
 	depends on VE && VE_CALLS && NET
 	default m
 	help
 	  This option provides for sending notifications of the VE
 	  events to the curious user space applications through
 	  the netlink socket just like the core kernel
 	  networking code does. By now just the notifications of
 	  the VE essensial status changes are being sent.

endmenu


config VZ_IOLIMIT
	tristate "Container IO-limiting"
	depends on VE && VE_CALLS && BC_IO_ACCOUNTING
	default m
	help
	   This option provides io-limiting module.

config VE_TUNTAP_ACCOUNTING
	bool "Accounting for tun/tap devices"
	depends on VE_NETDEV_ACCOUNTING && TUN
	default y
	help
	   This option enables accounting for tun/tap devices.
